body{
    background: grey;
}
.header{
    background-color: rgb(104, 0, 0) ;

}
article{
    filter: invert(1) hue-rotate(180deg);
}
figure, iframe {
    filter: invert(1) hue-rotate(180deg);
}